.App {
  font-family: Calibri, sans-serif;
  text-align: center;
}
  .container{
    background-color: #ffcce0;
    margin: auto;
    width: 25%;
    padding: 10px;
    border: 1px solid #ffb3d1;
    box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
    height: 400px;
    display: inline-block;
  }

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row
{
  display: inline-block;
  width: 100%;
}
button {
  width: 90px;
  height: 45px;
  font-size: large;
  font-family: Calibri, sans-serif;
  border-radius: 20%;
  border-width: 0.5px;
  background-color: #ff80b3;
}
button:hover {
background-color: #ff0066;
}
.box2 {
  background-color: #ffcce0;
  margin: auto;
  width: 25%;
  padding: 10px;
  border: 1px solid #ffb3d1;
  box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  height: 280px;
  margin-bottom: 10px;
  display: inline-block;
}
.two-buttons {
  display: inline-block;
}
.temp-button {
  width: 40px;
  margin-left: 35px;
  margin-right: 35px;
}
.page {
  display: block;
}